:root {
  --myBlack: rgb(53, 53, 53);
  --myOrange: rgb(255, 159, 26);
  --myGlaucous: rgb(180, 185, 239);
  --myMint: rgb(213, 255, 243);
  --mySatBlue: rgb(72, 172, 240);
}

@font-face {
  font-family: latexSerif;
  src: url("./cmunbx.ttf");
}

@font-face {
  font-family: latexSans;
  src: url("./cmunss.ttf");
}

@font-face {
  font-family: latexSansBold;
  src: url("./cmunsx.ttf");
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: latexSans !important;
}

h2 {
  margin: 0;
  font-family: latexSerif;
  font-size: 30px !important;
}

#row1 img,
#row2 img,
#row3 img,
#row4 img {
  cursor: pointer;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

/* #row1, #row2, #row3, #row4 {
  padding-right: 2%;
} */

#row1,
#row3 {
  background-color: var(--myBlack);
}

#row2,
#row4 {
  background-color: #171717;
}

#gameCarouselPic img {
  z-index: 82;
  width: 5%;
}

#skillsWrapper {
  grid-area: skills;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  align-content: stretch;
}

#skillsContainer {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
}

#skillsWrapper li {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
  text-align: right !important;
  z-index: 500;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  align-content: flex-end;
  border-right: 2px solid;
}

#skillsWrapper a {
  font-weight: 600;
  text-decoration: none;
}

#row1 #skillsWrapper li {
  border-color: var(--mySatBlue);
}

#row1Pics:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* box-shadow: inset 0px 0px 150px var(--mySatBlue); */
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  z-index: 1;
}

#picsHolder:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* box-shadow: inset 0px 0px 150px var(--myOrange); */
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  z-index: 1;
}

#row4Pics:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* box-shadow: inset 0px 0px 100px var(--myGlaucous); */
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  z-index: 1;
}

#row3Pics:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* box-shadow: inset 0px 0px 150px var(--myMint); */
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  z-index: 1;
}

#row3Pics {
  position: relative;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 100;
  font-family: latexSans;
  color: var(--myMint) !important;
  text-align: center;
  font-size: 2rem;
  background-color: var(--myBlack);
  opacity: 1;
  z-index: 900;
  transition: opacity 1s ease-in-out;
}

.loaded {
  opacity: 0 !important;
  pointer-events: none;
}

.loadingSpinner {
  animation: spin 1s linear infinite;
  width: 100px;
  height: 100px;
  border: 10px solid rgb(62, 104, 132);
  border-top: 10px solid var(--myMint);
  border-radius: 50%;
  margin-bottom: 2rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#skillWLinks {
  display: flex;
  flex-direction: column !important;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  height: 100%;
}

.imageBox {
  position: relative;
}

.mainDescriptionBox {
  grid-area: title;
  text-align: left;
  display: grid;
  grid-template-columns: auto 70%;
  z-index: 2;
  padding: 1%;
  align-items: center;
}

#row1 .mainDescriptionBox {
  flex-direction: column !important;
}

.mainDescriptionBox h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.mainDescriptionBox > div {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  border-left: 2px solid;
  padding-left: 2%;
}

#row1 .mainDescriptionBox > div {
  border-color: var(--mySatBlue);
}

.imageBox::before {
  content: attr(data-title);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50;
  color: var(--myBlack);
  border-radius: 600px 600px 0 0;
  text-align: center;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  z-index: 2;
  font-weight: 700;
  box-sizing: border-box;
  border-bottom: none !important;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 2% 0 2% 0%;
}

a {
  color: var(--myMint);
  text-decoration: none;
  font-family: latexSansBold;
}

a:hover {
  color: var(--myOrange) !important;
}

a:visited {
  color: var(--myMint);
}

#row1 .imageBox::before {
  background-color: var(--mySatBlue) !important;
}

#row2 .imageBox::before {
  background-color: var(--myOrange) !important;
}

#row3 .imageBox::before {
  background-color: var(--myMint) !important;
}

#row4 .imageBox::before {
  background-color: var(--myGlaucous) !important;
}

.imageBox:hover::before {
  opacity: 1;
}

#row2 li,
#row2 div {
  border-color: var(--myOrange) !important;
}

#row3 li,
#row3 div {
  border-color: var(--myMint) !important;
}

#row4 li,
#row4 div {
  border-color: var(--myGlaucous) !important;
}

#headerButtons {
  grid-area: buttons;
  padding: 1%;
  width: fit-content;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  footer {
    font-size: 0.7rem !important;
  }
  footer a {
    font-size: 0.7rem !important;
  }
  #headerAbout {
    display: block !important;
    margin-top: 5% !important;
  }
  #mattInfo {
    padding: 0 !important;
  }
  #gameCarouselTitle {
    font-size: 0.7rem !important;
  }
  #headerPic {
    display: inline !important;
    float: left !important;
    padding-right: 2%;
  }

  #headerPic img {
    margin: 0 !important;
    height: auto !important;
  }
  #aboutText {
    display: inline !important;
    text-align: justify !important;
  }
  #headerButtons {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 20%;
    align-content: center;
    align-items: center;
  }
  #headerButton {
    padding: 0 5% 0 5% !important;
    margin: 4% !important;
  }
  .mainDescriptionBox {
    display: flex;
    flex-direction: column;
    padding-top: 5% !important;
    text-align: justify !important;
  }
  .mainDescriptionBox h2 {
    margin: 0;
    padding: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-end: 0em;
    margin-inline-start: 0em;
  }
  .mainDescriptionBox > div {
    padding: 0;
    margin: 0;
    border-left: none;
    padding: 2%;
  }
  #skillsContainer li {
    border: none !important;
    font-size: 0.7rem;
  }

  ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }

  #row1,
  #row2,
  #row3,
  #row4 {
    grid-template-columns: 30% 1fr !important;
    grid-template-rows: 1fr !important;
    grid-template-areas:
      "title title"
      "skills pics" !important;
  }

  h2 {
    font-size: 1.5rem !important;
  }

  #row1Pics {
    grid-template-columns: 1fr !important;
  }
  /* #row1Pics:before {
    box-shadow: inset 0px 0px 100px var(--mySatBlue) !important;
  } */

  #lightBox {
    grid-template-columns: 5% 1fr 5% !important;
    grid-template-rows: 5% min-content min-content min-content !important;
    grid-template-areas:
      "close close close"
      "pic pic pic"
      "pic pic pic"
      "prev lbTitle next"
      "description description description"
      "bottom bottom bottom" !important;
    width: auto !important;
    padding: 5% !important;
    align-self: start !important;
    justify-self: start !important;
    overflow-y: scroll;
  }
  p {
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
  }

  #lightBoxWrapper {
    padding: 40% !important;
  }

  #lightBoxTitle {
    grid-area: lbTitle !important;
    text-align: center !important;
    justify-self: center !important;
  }

  #lightBoxDescriptionText {
    text-align: justify !important;
    justify-self: first baseline !important;
    align-self: start !important;
    font-size: 0.9rem !important;
  }

  #lightBoxDescription {
    width: 100% !important;
    height: 100% !important;
  }
  #lightBoxPrev,
  #lightBoxNext {
    padding: 0 !important;
  }
  #picsHolder {
    grid-template-columns: 1fr !important;
  }

  #row3Row1,
  #row3Row2 {
    grid-template-columns: 1fr !important;
  }

  #row4Pics {
    grid-template-columns: 1fr !important;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100px;
  height: fit-content;
  background: black;
  box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.5);
  align-items: center;
  color: #fff;
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "title title buttons"
    "about about about"; */
  text-shadow: 4px 0px 10px lightskyblue;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  z-index: 800;
  padding: 2% 3% 2% 3%;
  position: relative;
  overflow: hidden;
  background-image: url('./card3.jpg');
  background-size: 70%;
  background-repeat: no-repeat;
}

#headerLogo {
  width: 100%;
}

/* header:before {
  content: "my beebee is so gosh darn cute";
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    90deg,
    var(--myMint),
    var(--myOrange),
    var(--myGlaucous),
    var(--mySatBlue)
  );
  font-size: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  text-shadow: none;
  filter: blur(30px);
  z-index: -1;
  grid-area: header;
  animation: slowMove 20s both infinite;
} */
@keyframes slowMove {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(50%, 10%);
    rotate: 30deg;
  }
  100% {
    transform: translate(0, 0);
  }
}

/* header:after {
  content: "i love baby boy so much";
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    10deg,
    var(--myMint),
    var(--myOrange),
    var(--myGlaucous),
    var(--mySatBlue)
  );
  font-size: 10rem;
  position: absolute;
  top: 05;
  left: 50;
  right: 10;
  bottom: 90;
  pointer-events: none;
  text-shadow: none;
  filter: blur(40px);
  z-index: -1;
  animation: slowMoveBack 15s both infinite;
} */

@keyframes slowMoveBack {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-50%, -10%);
    rotate: 10deg;
  }
  100% {
    transform: translate(0, 0);
  }
}

#resumeThumbnail {
  width: 75px;
  border-radius: 5px;
  border: 1px solid var(--myGlaucous);
}

footer button {
  background: none;
  color: var(--myMint);
  font-family: latexSansBold;
}

#headerTop {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

#headerTitle {
  grid-area: title;
  font-size: 2rem;
  text-align: left;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: baseline;
  justify-content: space-between;
  /* padding-left: 25%; */
}

button {
  outline: none;
  border: none;
  background: linear-gradient(to bottom right, var(--mySatBlue), var(--myGlaucous));
  color: black;
  border: 2px solid var(--myGlaucous);
  box-sizing: border-box;
  /* background-color: var(--myGlaucous); */
  text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
  font-family: latexSansBold;
  font-size: 1rem;
  font-weight: 300;
  padding: 1% 2% 1% 2%;
  border-radius: 500px;
  cursor: pointer;
  margin-right: 3% !important;
  width: 100px;
}

button:hover {
  background-color: var(--myOrange);
  color: white;
  transition: 0.2s ease-in-out;
}

#headerName {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0.5rem 0 0;
  font-family: latexSansBold;
}

#mattInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 85%;
  font-size: 1rem;
}

#mattInfo img {
  height: 75px;
  width: 75px;
  object-fit: contain;
  margin-right: 1%;
  filter: brightness(100);
}

#resumeThumbnail {
  cursor: pointer;
}

#headerSub {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: right;
  width: 60%;
  margin: 0;
  /* padding-left: 70%; */
  /* width: 100%; */
  /* white-space: nowrap; */
}

#headerAbout {
  padding-left: 25%;
  grid-area: about;
  font-size: 1rem;
  text-align: left;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  gap: 1%;
  grid-template-areas: "text pic";
  align-items: center;
  justify-items: center;
  text-shadow: none;
  pointer-events: none;
  height: fit-content;
  margin-top: 1%;
}

#aboutText {
  grid-area: text;
  text-align: right;
  font-size: 1rem;
  position: relative;
}

#aboutText:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(5px);
  background-color: rgba(0,0,0,0.7);
  backdrop-filter: blur(5px);
  border-radius: 30px;
}

#gameCarousel img {
  height: 100px;
  width: 100px;
  object-fit: contain;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

#skillsContainer {
  height: 100%;
}

#gameCarouselWrapper {
  height: 100%;
  pointer-events: none;
}

#faveGamesHolder {
  grid-area: game;
  text-align: center;
  justify-self: start;
}

#headerButton {
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

#headerPic {
  grid-area: pic;
}

#headerPic img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #fff;
}

html {
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100vh;
  max-width: 100vw;
}

#lightBoxTitle {
  font-weight: 700;
  font-size: 2rem;
  font-family: latexSans;
  grid-area: lbTitle;
  text-align: left;
  justify-self: start;
  align-self: end;
}

#lightBoxDescriptionText {
  font-size: 1rem;
  font-weight: 200 !important;
  text-align: left;
  line-height: 1.6rem;
}

#lightBox {
  transition: opacity 0.3s ease-in-out;
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(75px);
  z-index: 1000;
  gap: 3%;
  color: white;
  grid-template-columns: 5% min-content 1fr 1fr 5%;
  grid-template-rows: 5% 1fr 1fr 1fr 5%;
  grid-template-areas:
    "close close close close close"
    "prev pic pic lbTitle next"
    "prev pic pic description next"
    "prev pic pic description next"
    "bottom bottom bottom bottom bottom";
}

#gameCarouselTitle {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
  font-family: latexSansBold;
}

#lightBoxClose {
  grid-area: close;
  justify-self: end;
  align-self: start;
  margin: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

#lightBoxPrev {
  grid-area: prev;
  justify-self: start;
  align-self: center;
  font-size: 2rem;
  cursor: pointer;
  padding: 40%;
}

#lightBoxNext {
  grid-area: next;
  justify-self: end;
  align-self: center;
  font-size: 2rem;
  cursor: pointer;
  padding: 40%;
}

#lightBoxPic {
  grid-area: pic;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  border-radius: 10px;
  display: block;
  justify-content: flex-end;
  align-items: stretch;
  z-index: 999;
}

#lightBoxPic img {
  object-fit: contain;
  display: block;
  width: 100%;
}

#lightBoxDescription {
  grid-area: description;
  justify-self: start;
  align-self: start;
  font-size: 1.5rem;
  text-align: left;
  width: 90%;
}

#lightBox a {
  color: lightskyblue;
  text-decoration: none;
  font-weight: 800;
}

#lightBox a:hover {
  color: var(--myOrange);
  transition: 0.2s ease;
}

#pageContent {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-areas:
    "header"
    "row1"
    "row2"
    "row2"
    "row3"
    "row3"
    "row4"
    "footer";
}

#resumeBlock {
  font-size: 1rem;
  font-family: latexSansBold;
  color: var(--myMint);
  cursor: pointer;
}

#resumeBlock:hover {
  color: var(--myOrange);
  transition: 0.2s ease;
}

#flower {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  user-select: none;
}

#footer {
  grid-area: footer;
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "left center right";
  justify-items: center;
  align-items: start;
  background-color: #1a1a1a;
  color: #fff;
  font-size: 0.8rem;
  overflow: hidden;
  padding: 4% 0 4% 0;
}

/* #footer:before {
  content: "hire him or I'll be angy >:(";
  position: absolute;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    90deg,
    var(--myMint),
    var(--myOrange),
    var(--myGlaucous),
    var(--mySatBlue)
  );
  font-size: 11rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  text-shadow: none;
  filter: blur(30px);
  margin-top: -9%;
  z-index: 80;
} */

@keyframes crystalline-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#row1 {
  grid-area: row1;
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: auto 1fr;
  align-items: stretch;
  text-align: right;
  grid-template-areas:
    "skills title"
    "skills pics";
}

#picsHolder {
  grid-area: pics;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-radius: 30px 30px 0 0;
  margin-left: 1%;
  margin-right: 1%;
  overflow: hidden;
  position: relative;
}

#row1Pics {
  border: 5px solid var(--mySatBlue);
  box-sizing: border-box;
  border-bottom: none !important;
  grid-area: pics;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  border-radius: 30px 30px 0 0;
  margin-left: 1%;
  margin-right: 1%;
  overflow: hidden;
  position: relative;
  min-width: 100%;
  min-height: 100%;
}

#row2 {
  grid-area: row2;
  display: grid;
  grid-template-columns: 15% 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  text-align: left;
  grid-template-areas:
    "skills title title title title title"
    "skills pics pics pics pics pics"
    "skills pics pics pics pics pics";
}

#row2 #picsHolder {
  border: 5px solid var(--myOrange);
  box-sizing: border-box;
  border-bottom: none !important; 
}
#row3 {
  grid-area: row3;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: auto auto;
  text-align: left;
  grid-template-areas:
    "skills title title title title title"
    "skills pics pics pics pics pics";
}

#row3Pics {
  border: 5px solid var(--myGlaucous);
  box-sizing: border-box;
  border-bottom: none !important; 
  grid-area: pics;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  align-items: stretch;
  justify-items: stretch;
  grid-template-areas:
    "row3row1"
    "row3row2";
  border-radius: 30px 30px 0 0;
  margin-left: 1%;
  margin-right: 1%;
  overflow: hidden;
  position: relative;
}

#row4Pics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 5px solid var(--myGlaucous);
  border-bottom: none !important;
  grid-template-rows: 1fr;
  border-radius: 30px 30px 0 0;
  margin-left: 1%;
  margin-right: 1%;
  overflow: hidden;
  position: relative;
}

#row3Row1 {
  display: grid;
  grid-area: row3row1;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
}

#row3Row2 {
  grid-area: row3row2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
}

#row3Pics img {
  object-fit: cover;
}

#row3Row2 img {
  object-fit: cover;
}

#row4 {
  grid-area: row4;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: auto 1fr;
  align-items: stretch;
  text-align: right;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
  grid-template-areas:
    "skills title"
    "skills pics";
}
