.App {
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  color: white;
  overflow-x: hidden;
}

#row1 img,
#row2 img,
#row3 img,
#row4 img {
  cursor: pointer;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

#gameCarouselPic {
  width: 100%;
  height: 100%;
}

#row1 #skillsContainer {
  height: 30rem !important;
}

#skillsWrapper {
  grid-area: skills;
}

#row1 #skillsWrapper > div > div {
  display: flex;
  flex-direction: row;
}
#skillsContainer {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
}

#skillsWrapper > div > div {
  margin: 0.2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  z-index: 500;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

#skillsWrapper a {
  font-weight: 600;
  text-decoration: none;
}

#row1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0px -20px 50px lightcoral;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

#row1:hover:before {
  opacity: 1;
}

.imageBox {
  position: relative;
  width: 100%;
}

.mainDescriptionBox {
  grid-area: title;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
  align-content: center;
}

.mainDescriptionBox h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.mainDescriptionBox > div {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  font-style: italic;
}

.imageBox::before {
  content: attr(data-title);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50;
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  border-radius: 600px 600px 0 0;
  text-align: center;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  z-index: 2;
  font-weight: 700;
}

#row1 .imageBox::before {
  background-color: rgba(240, 128, 128, 0.5) !important;
  box-sizing: border-box;
  border-bottom: none !important;
}

.imageBox:hover::before {
  opacity: 1;
}

header {
  display: grid;
  height: fit-content;
  background: radial-gradient(
    circle at 0% 0%,
    rgba(96, 143, 123, 1) 0%,
    rgba(6, 131, 147, 1) 50%,
    rgba(60, 0, 60, 1) 100%
  );
  color: #fff;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "title title title"
    "about about about";
  text-shadow: 4px 0px 10px lightskyblue;
}

#headerTitle {
  grid-area: title;
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: baseline;
  justify-content: space-between;
}

header button {
  outline: none;
  border: none;
  background-color: lightseagreen;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 3% !important;
}

#headerName {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0.5rem 0 0;
}

#headerSub {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  font-style: italic;
}

#headerAbout {
  text-shadow: none;
  font-weight: 300;
}

#headerAbout {
  grid-area: about;
  font-size: 1rem;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1%;
  grid-template-areas: "pic text text text text game";
  align-items: center;
}

#aboutText {
  grid-area: text;
  justify-self: center;
  height: fit-content;
  text-align: justify;
  line-height: 1.5rem;
}

#gameCarousel img {
  max-height: 150px;
  width: auto;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

#skillsContainer {
  height: 100%;
}

#gameCarouselWrapper {
  height: 100%;
}

#faveGamesHolder {
  grid-area: game;
  text-align: center;
  justify-self: start;
}

#headerButton {
  grid-area: button;
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

#headerPic {
  grid-area: pic;
  width: 60%;
  height: 60%;
  justify-self: end;
}

#headerPic img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #fff;
}

html {
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100vh;
  max-width: 100vw;
}

#lightBoxTitle {
  font-weight: 700;
  font-size: 2rem;
}

#lightBoxDescriptionText {
  font-size: 1.5rem;
  font-weight: 200 !important;
  text-align: left;
  line-height: 1.6rem;
}

#lightBox {
  transition: opacity 0.3s ease-in-out;
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(75px);
  z-index: 1000;
  color: white;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
  grid-template-rows: 5% 1fr 1fr 1fr 5%;
  grid-template-areas:
    "close close close close close"
    "prev pic pic description next"
    "prev pic pic description next"
    "prev pic pic description next"
    "bottom bottom bottom bottom bottom";
}

#gameCarouselTitle {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

#lightBoxClose {
  grid-area: close;
  justify-self: end;
  align-self: start;
  margin: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

#lightBoxPrev {
  grid-area: prev;
  justify-self: start;
  align-self: center;
  font-size: 2rem;
  cursor: pointer;
}

#lightBoxNext {
  grid-area: next;
  justify-self: end;
  align-self: center;
  font-size: 2rem;
  cursor: pointer;
}

#lightBoxPic {
  grid-area: pic;
  justify-self: center;
  align-self: center;
  min-width: 80%;
  min-height: 80%;
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
}

#lightBoxPic img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

#lightBoxDescription {
  grid-area: description;
  justify-self: start;
  align-self: center;
  font-size: 1.5rem;
  text-align: left;
  width: 65%;
}

#lightBox a {
  color: lightskyblue;
  text-decoration: none;
  font-weight: 800;
}

#lightBox a:hover {
  color: white;
  transition: 0.2s ease;
}

#pageContent {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "row1"
    "row2"
    "row2"
    "row3"
    "row3"
    "row4";
}

@keyframes crystalline-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#row1 {
  grid-area: row1;
  background: lightcoral;
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: auto 1fr;
  align-items: stretch;
  text-align: right;
  grid-template-areas:
    "skills title"
    "skills pics";
}

#picsHolder {
  grid-area: pics;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto;
}

#row1Pics {
  grid-area: pics;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
}

#row2 {
  grid-area: row2;
  background-color: lightseagreen;
  display: grid;
  grid-template-columns: 15% 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  text-align: left;
  grid-template-areas:
    "skills title title title title title"
    "skills pics pics pics pics pics"
    "skills pics pics pics pics pics";
}

#row3 {
  grid-area: row3;
  background-color: darkolivegreen;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: auto auto;
  text-align: left;
  grid-template-areas:
    "skills title title title title title"
    "skills pics pics pics pics pics";
}

#row3Pics {
  grid-area: pics;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  width: 100%;
  align-items: stretch;
  justify-items: stretch;
  grid-template-areas:
    "row3row1"
    "row3row2";
}

#row3Row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#row3Row2 {
  grid-area: row3row2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#row3Pics img {
  object-fit: cover;
}

#row3Row2 img {
  object-fit: cover;
}

#row4 {
  grid-area: row4;
  background-color: lightskyblue;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  align-items: stretch;
  text-align: right;
  grid-template-areas:
    "skills title title title title title title"
    "skills pic pic pic pic pic pic";
}
