.App {
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  color: white;
}

#row1 img,
#row2 img,
#row3 img,
#row4 img {
  cursor: pointer;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

#gameCarouselPic {
  width: 100%;
  height: 100%;
}

#row1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0px -20px 50px lightcoral;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

#row1:hover:before {
  opacity: 1;
}

.imageBox {
  position: relative;
}

.mainDescriptionBox {
  padding: 1rem;
}

.imageBox::before {
  content: attr(data-title);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50;
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  border-radius: 600% 600% 0 0;
  text-align: center;
  backdrop-filter: blur(75px);
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  z-index: 2;
}

.imageBox:hover::before {
  opacity: 1;
}

header {
  display: grid;
  height: fit-content;
  background-color: #000;
  color: #fff;
  padding: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "title title button"
    "about about about";
}

#headerTitle {
  grid-area: title;
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  margin: 0;
}

#headerAbout {
  grid-area: about;
  font-size: 1rem;
  text-align: left;
  margin-top: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "pic text text text game game";
  align-items: center;
}

#aboutText {
  grid-area: text;
  height: fit-content;
  text-align: center;
}

#gameCarousel img {
  max-height: 200px;
  width: auto;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

#gameCarouselWrapper {
  height: 100%;
}

#faveGamesHolder {
  grid-area: game;
  text-align: center;
  height: 15rem;
}

#headerButton {
  grid-area: button;
  justify-self: end;
  align-self: end;
  font-size: 1rem;
  text-align: right;
  margin: 0;
}

#headerPic {
  grid-area: pic;
  width: 80%;
  height: 70%;
  border-radius: 4000%;
}

#headerPic img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5000px;
}

html {
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100vh;
  width: 100vw;
}

#lightBox {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(75px);
  z-index: 1000;
  color: white;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
  grid-template-rows: 5% 1fr 1fr 1fr;
  grid-template-areas:
    "close close close close close"
    "prev pic pic pic next"
    "prev pic pic pic next"
    "prev description description description next";
}

#gameCarouselTitle {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

#lightBoxClose {
  grid-area: close;
  justify-self: end;
  align-self: start;
  margin: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

#lightBoxPrev {
  grid-area: prev;
  justify-self: start;
  align-self: center;
  font-size: 2rem;
  cursor: pointer;
}

#lightBoxNext {
  grid-area: next;
  justify-self: end;
  align-self: center;
  font-size: 2rem;
  cursor: pointer;
}

#lightBoxPic {
  grid-area: pic;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#lightBoxPic img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#lightBoxDescription {
  grid-area: description;
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
  width: 65%;
}

#pageContent {
  display: grid;
  grid-template-rows: 20% 20% 20% 20 20%;
  grid-template-areas:
    "row1"
    "row2"
    "row2"
    "row3"
    "row3"
    "row4";
}

@keyframes crystalline-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#row1 {
  grid-area: row1;
  overflow: hidden;
  background: lightcoral;
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: 20% 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: stretch;
  text-align: right;
}

#row2 {
  grid-area: row2;
  background-color: lightseagreen;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: left;
}

#row3 {
  grid-area: row3;
  background-color: darkolivegreen;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: right;
}

#row4 {
  grid-area: row4;
  background-color: lightskyblue;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 20%;
  grid-template-rows: 1fr;
  align-items: stretch;
  text-align: left;
}
